CADVISOR_VERSION=v0.38.6
NODE_EXPORTER_VERSION=1.6.1
PROMTAIL_VERSION=2.8.3
LOKI_URL=https://loki.mydomain.com
PROMETHEUS_URL=https://prometheus.mydomain.com
DOCKER_NETWORK=giveth-all_giveth
INSTANCE=staging
LOKIUSER=usernamebasicauth
LOKIPASS=pwbasicauth
