services:
  cadvisor:
    image: gcr.io/cadvisor/cadvisor:$CADVISOR_VERSION
    container_name: cadvisor
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    ports:
      - "8080:8080"
    restart: always
    networks:
      - external_network


  node-exporter:
    image: quay.io/prometheus/node-exporter:$NODE_EXPORTER_VERSION
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
      - /:/host:ro,rslave
    command: 
      - '--path.rootfs=/host'
      - '--path.procfs=/host/proc' 
      - '--path.sysfs=/host/sys'
      - --collector.filesystem.ignored-mount-points
      - "^/(sys|proc|dev|host|etc|rootfs/var/lib/docker/containers|rootfs/var/lib/docker/overlay2|rootfs/run/docker/netns|rootfs/var/lib/docker/aufs)($$|/)"
    ports:
      - 9100:9100
    restart: always
    deploy:
      mode: global
    networks:
      - external_network
  
  promtail:
    image: grafana/promtail:$PROMTAIL_VERSION
    container_name: promtail
    env_file:
      - .env
    volumes:
      - /var/log:/var/log
      - /var/run/docker.sock:/var/run/docker.sock
      - /home/devops/giveth-all/logs:/var/giveth/logs
      - ./promtail-config.yml:/etc/promtail/config.yml
    command: -config.expand-env=true -config.file=/etc/promtail/config.yml
    restart: always
    networks:
      - external_network

networks:
  external_network:
    name: ${DOCKER_NETWORK}
    external: true
